@import url(//db.onlinewebfonts.com/c/a0c08669717ba4342437aef1f5da1bc8?family=Novecento+Bold);
@import url(//db.onlinewebfonts.com/c/0376a58122a881d16a294512d3c947b1?family=ProximaNova-Regular);
$primary-red:#BF2A26;
$primary-offWhite: #D7D4CA;
$primary-black: #000000;

.container{
    height: 100%;
    background: $primary-black;
    padding:40px 0 0px 40px;

    h1{
        font-family: Novecento Bold;
font-style: normal;
font-weight: bold;
font-size: 72px;
line-height: 86px;
color: $primary-offWhite
    }

    span{
        color: $primary-red
    }

    .iconsContainer{
        display:flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 124px; 
        padding-bottom: 110px;       
    }

    .icons{
        padding-bottom: 145px;
    }
}
