@import '/styles/variables';

.container{
    height: 100%;
    background: $primary-black;
    padding:40px 0 0px 40px;

    h1{
        font-family: Novecento Bold;
font-style: normal;
font-weight: bold;
font-size: 72px;
line-height: 86px;
color: $primary-offWhite
    }

    span{
        color: $primary-red
    }

    .iconsContainer{
        display:flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 124px; 
        padding-bottom: 110px;       
    }

    .icons{
        padding-bottom: 145px;
    }
}
