@import '/styles/variables';

.container{
    height:100%;
    background:$primary-offWhite;
    padding:40px 0 116px 40px;
    h1{
        font-family: Novecento Bold;
        font-style: normal;
        font-weight: bold;
        font-size: 72px;
        line-height: 86px;
        margin-bottom: 90px;    
        color:$primary-red    
    }

    span{
        color:$primary-black
    }
}

.image{
    width: 350px;
    height: 425px;
    border: 3px solid #000000;
    border-radius: 10px;
    position: relative;
    margin-right: 255px;
}

.contentContainer{
    display:flex;
    justify-content: center;
    align-items: center;
}

.paragraph{
    width: 798px;
    height: 323px;
    display:flex;
    align-items: center;
    font-family: ProximaNova-Regular;
    font-size: 24px;
    line-height: 24px;
    flex-direction: column;

    p{
        padding-bottom: 40px;
    }
}