@import url(//db.onlinewebfonts.com/c/a0c08669717ba4342437aef1f5da1bc8?family=Novecento+Bold);
@import url(//db.onlinewebfonts.com/c/0376a58122a881d16a294512d3c947b1?family=ProximaNova-Regular);
$primary-red:#BF2A26;
$primary-offWhite: #D7D4CA;
$primary-black: #000000;


.container{
    display: flex;
    justify-content: center;
    align-items: center;

    .image{
        display: flex;
        margin-bottom: 16px;
        position: relative;
        height: 50px;
        width: 50px;
    }

    .contentContainer{
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100%;
        margin-right: 64px;

    }
    .text{
        font-family: Novecento Bold;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    }
}

