
.container{
    display: flex;
    justify-content: center;
    align-items: center;

    .image{
        display: flex;
        margin-bottom: 16px;
        position: relative;
        height: 50px;
        width: 50px;
    }

    .contentContainer{
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100%;
        margin-right: 64px;

    }
    .text{
        font-family: Novecento Bold;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    }
}

