.container{
    display:flex;
    align-items:center;
    height: 94px;
    background: #000000;
    padding-left: 40px;

   p{
    font-family: Proxima Nova;
    font-size: 18px;
    line-height: 18px;    
    color: #D7D4CA;
   }
}