@import url(//db.onlinewebfonts.com/c/a0c08669717ba4342437aef1f5da1bc8?family=Novecento+Bold);
@import url(//db.onlinewebfonts.com/c/0376a58122a881d16a294512d3c947b1?family=ProximaNova-Regular);
$primary-red:#BF2A26;
$primary-offWhite: #D7D4CA;
$primary-black: #000000;

.container{
    height: 100%;
    display: flex;
    h1{

font-family: Novecento Bold;
font-style: normal;
font-weight: bold;
font-size: 72px;
line-height: 86px;
color:$primary-offWhite
    }
    span{
        color: $primary-black;
    }

    .leftContainer{
        background: $primary-red;
        padding:40px 0 36px 40px;
        width: 35%;
        display: flex;
        flex-direction: column;
        justify-content: space-between
   }

    .rightContainer{
        width: 65%;
        background: $primary-offWhite
    }

    .socialIconsContainer{
        display:flex;
    }

    .socialIcons{
        height: 50px;
        width: 50px;
        background: #D7D4CA;
        margin-right: 40px;
        border-radius: 50%;
        display: flex;
        justify-content:center;
        align-items:center;
    }

    .socialIconsFile{
        height: 50px;
        width: 50px;
        margin-right: 40px;
        border-radius: 50%;
        display: flex;
        justify-content:center;
        align-items:center;
    }

    .icons{
        height: 35px;
        width: 35px;
    }

    .fileIcon{
        height: 45px;
        width: 45px;
        color: #D7D4CA;
    }
}