@import "/styles/variables";
@import "/styles/mixins";

.container {
  height: 90vh;
  display: flex;
  h1 {
    font-family: Novecento Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 86px;
    color: $primary-offWhite;
    text-transform: uppercase;

    @include lg {
      font-size: 55px;
      line-height: 86px;
    }
  }
  span {
    color: $primary-black;
  }

  .leftContainer {
    background: $primary-red;
    padding: 60px 0 36px 40px;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include xs {
      display: none;
    }

    @include sm {
      display: none;
    }

    @include md {
      display: none;
    }
  }

  .rightContainer {
    width: 65%;
    background: $primary-offWhite;

    h1 {
      display: none;
    }

    @include xs {
      width: 100%;
      height: 100%;
      background: $primary-red;

      h1 {
        display: block;
        font-size: 24px;
        line-height: 29px;
        padding: 16px 0 0 16px;
      }
    }

    @include sm {
      width: 100%;
      height: 100%;
      background: $primary-red;

      h1 {
        display: block;
        font-size: 24px;
        line-height: 29px;
        padding: 16px 0 0 16px;
      }
    }

    @include md {
      width: 100%;
      height: 100%;
      background: $primary-red;

      h1 {
        display: block;
        font-size: 24px;
        line-height: 29px;
        padding: 16px 0 0 16px;
      }
    }
  }

  .socialIconsContainer {
    display: flex;
  }

  .socialIconsGithub {
    height: 45px;
    width: 45px;
    background: black;
    margin-right: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .socialIconsGithub:hover {
    transform: scale(1.25);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }

  .socialIconsTwitter {
    height: 45px;
    width: 45px;
    background: $primary-offWhite;
    margin-right: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .socialIconsTwitter:hover {
    transform: scale(1.25);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }

  .socialIconsFile {
    height: 45px;
    width: 32px;
    margin-right: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    background: $primary-black;
    margin-left: 12px;
  }

  .socialIconsFile:hover {
    transform: scale(1.25);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }

  .socialIconsLinkedIn {
    height: 45px;
    width: 45px;
    margin-right: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $primary-offWhite;
    overflow: hidden;
  }

  .socialIconsLinkedIn:hover {
    transform: scale(1.25);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }

  .githubIcon {
    height: 50px;
    width: 50px;
    color: #d7d4ca;
  }

  .twitterIcon {
    height: 30px;
    width: 30px;
    color: $primary-black;
  }

  .linkedInIcon {
    height: 25px;
    width: 30px;
    background: $primary-offWhite;
  }

  .fileIcon {
    height: 45px;
    width: 45px;
    color: $primary-offWhite;
  }
}
