@import url(//db.onlinewebfonts.com/c/a0c08669717ba4342437aef1f5da1bc8?family=Novecento+Bold);
@import url(//db.onlinewebfonts.com/c/0376a58122a881d16a294512d3c947b1?family=ProximaNova-Regular);
$primary-red:#BF2A26;
$primary-offWhite: #D7D4CA;
$primary-black: #000000;

.cardContainer{
    height:552px;
    width: 552px;
    border: 3px solid #D7D4CA;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 16px;
    position: relative;
}

.cardName{
    font-family: ProximaNova-Regular;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 48px;
color: #D7D4CA;
margin-bottom: 40px;
}


.container{
    display: flex;
    flex-wrap:wrap;
    justify-content:space-around;
}