@import "/styles/variables";
@import "/styles/mixins";

.container {
  z-index: 100000;
  display: flex;
  position: relative;

  .logoContainer {
    display: none;
  }

  .menuToggle {
    span {
      display: block;
      width: 30px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;

      background: $primary-red;

      transform-origin: 4px 4px;

      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        opacity 0.3s ease-in-out;
    }
  }

  .clicked > span:nth-last-child(2) {
    transform-origin: 50% 0%;
  }

  .clicked > span {
    opacity: 1;
    transform: rotate(-40deg) translate(4px, 1px);
    background: $primary-red;
  }

  .clicked > span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  .clicked > span:nth-last-child(2) {
    transform: rotate(40deg) translate(2px, 0px);
  }

  .buttonContainer {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100000;
    padding: 1.5% 2%;

    &:hover {
      cursor: pointer;
    }

    @include xs {
      padding: 18px 10px;
    }

    @include sm {
      padding: 22px 15px;
    }

    @include md {
      padding: 26px 20px;
    }

    @include lg {
      padding: 2.75% 2%;
    }

    @include xl {
      padding: 25px 20px;
    }
  }

  @keyframes slideIn {
    0% {
      transform: translateY(-60px);
    }
  }

  .navContainer {
    padding: 0;
    height: 73px;
    width: 100%;
    position: fixed;
    background: $primary-black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: slideIn 0.6s ease;

    @include xs {
      min-height: 210px;
      justify-content: center;
    }

    @include sm {
      min-height: 210px;
      justify-content: center;
    }

    @include lg {
      height: 6%;
      font-size: 20px;
    }

    .logoContainer {
      display: none;
      height: 55px;
      width: 100px;

      @include xs {
        top: 0;
        left: 0;
        margin-top: 2%;
        display: flex;
        padding-left: 10px;
        position: absolute;
      }

      @include sm {
        top: 0;
        left: 0;
        margin-top: 2%;
        display: flex;
        padding-left: 10px;
        position: absolute;
      }
    }

    .links {
      display: flex;
      text-align: center;

      @include xs {
        padding-top: 7%;
        flex-direction: column;
        font-size: 17px;
        height: 100%;
        justify-content: center;
      }

      @include sm {
        padding-top: 30px;
        flex-direction: column;
        font-size: 18px;
        height: 100%;
        justify-content: center;
      }

      @include md {
        font-size: 16px;
      }
      a {
        color: $primary-offWhite;
        text-decoration: none;
        padding: 5px 40px;
        width: 100%;

        @include xs {
          padding: 8px 40px;
        }

        @include md {
          padding: 5px 20px;
        }

        &:focus,
        &:hover {
          transform: scale(1.15);
          transition: all 0.2s ease-in-out;
        }
      }
    }
  }

  .socialIconsContainer {
    display: flex;
    justify-content: space-evenly;
    width: 25%;
    padding-right: 80px;

    @include xs {
      display: none;
      padding: 0 10px;
    }

    @include md {
      display: none;
    }

    @include sm {
      display: none;
      padding: 0 20px;
    }

    @include lg {
      display: flex;
      padding: 0 20px;
      margin-right: 50px;
    }

    .socialIconsGithub {
      height: 30px;
      width: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      @include md {
        height: 50px;
        width: 50px;
      }

      @include sm {
        height: 40px;
        width: 40px;
      }
    }

    .socialIconsTwitter {
      height: 30px;
      width: 30px;
      background: $primary-offWhite;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      @include md {
        height: 50px;
        width: 50px;
      }

      @include sm {
        height: 40px;
        width: 40px;
      }
    }

    .socialIconsFile {
      height: 30px;
      width: 30px;
      display: flex;
      justify-content: center;
      align-items: center;

      @include md {
        height: 50px;
        width: 50px;
      }

      @include sm {
        height: 40px;
        width: 40px;
      }
    }

    .socialIconsLinkedIn {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $primary-offWhite;
      overflow: hidden;

      @include md {
        height: 50px;
        width: 50px;
      }

      @include sm {
        height: 40px;
        width: 40px;
      }
    }

    .githubIcon {
      height: 30px;
      width: 50px;
      color: $primary-offWhite;

      @include md {
        height: 50px;
        width: 50px;
      }

      @include sm {
        height: 50px;
        width: 40px;
      }
    }

    .twitterIcon {
      height: 20px;
      width: 30px;
      color: $primary-black;

      @include sm {
        height: 30px;
        width: 30px;
      }

      @include md {
        height: 40px;
        width: 35px;
      }
    }

    .linkedInIcon {
      height: 20px;
      width: 25px;
      background: $primary-offWhite;

      @include md {
        height: 35px;
        width: 35px;
      }

      @include sm {
        height: 26px;
        width: 30px;
      }
    }

    .fileIcon {
      height: 30px;
      width: 30px;
      color: $primary-offWhite;

      @include md {
        height: 50px;
        width: 35px;
      }

      @include sm {
        height: 40px;
        width: 30px;
      }
    }
  }
}

// @media screen and (max-width: 767px) {
//   .buttonContainer {
//     padding-top: 15px !important;
//   }

//   .socialIconsContainer {
//     display: none !important;
//   }

//   .links {
//     display: flex;
//     flex-direction: column !important;
//     margin: 0 !important;
//     padding: 0 !important;
//     height: 100% !important;
//   }

//   .logoContainer {
//     min-width: 100%;
//     display: flex !important;
//     margin: 0 !important;
//     padding: 0 !important;
//     padding-left: 10px !important;
//   }
// }
