@import "/styles/variables";
@import "/styles/mixins";

.container {
  min-height: 100%;
  height: 100%;
  width: 100%;
  background-color: #000000;

  h1 {
    font-family: Novecento Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 86px;
    color: #d7d4ca;
    padding: 40px 0 0 40px;

    @include xs {
      font-size: 24px;
      line-height: 29px;
      padding: 16px 0 0 16px;
    }

    @include md {
      font-size: 44px;
      line-height: 29px;
    }
  }

  span {
    color: $primary-red;
  }

  .projectCard {
    width: 100%;
    height: 100%;
    padding: 0px 20px 160px 20px;
  }
}
